body {
	overflow-x:hidden;
	width:100%;
	font: 15px "Century Gothic", "Times Roman", sans-serif;
	min-height:550px;
	background: #eee fixed;
}

hr {
	color:#000000;
}

.bg {
	min-height:650px;
}

.bg1 {
	background:url(../image/background.jpg);
}

.panel {
	border-color:#eee;
	margin:5% 40px;
	padding:25px;
	font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.header {
	background:#202020;
}

.logo {
	font-family: 'typo', serif;
	font-size:35px;
	color:#ffbb33;
	margin: 25px 0 0 20px;
}	

.title {
	font-family: 'typo', serif;
}

.title1 {
	font: 16px "Century Gothic", "Times Roman", sans-serif;
}

.title2 {
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
}

.sub1 {
	color:#202020;
	background:orange;
	font-size:15px;
	height:35px;
	margin:10px;
	padding:8px;
	width:100px;
}

.sub {
	width:100%;
	color:black;
	background-color:orange;
	font-family: typo, serif;
	font-size:20px;
	padding:2px;
	margin-top:15px;
}

.sub:hover {
	color:#fff;
}

.footer {
	font-size:15px;
	text-align:center;
	border-top:1px solid;
	border-color:#323232;
	background-color:#202020;
}

.footer a{
	margin:25px;
	color:orange;
	text-decoration:none;
	font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.footer a:hover {
	text-decoration:none;
	color:#9acd32;
	border-top:2px solid;
	border-color:orange;
}

.box {
	padding:9px;
}

.top {
	margin-top:20px;
}

.log1 {
	font: 15px 'Ubuntu', sans-serif;
	color:orange;
	margin-left:10px;
}

.log {
	margin: 10px 60px 10px 5px;
	color:orange;
	text-decoration:none;
	font-size:20px;
}

.log:hover {
	color:#9acd32;
	border-top:2px solid;
	border-color:orange;
	text-decoration:none;
}